* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1f1c2c, #928dab);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;          /* turns on flexbox */
  justify-content: center; /* centers horizontally */
  align-items: center;     /* centers vertically */
  min-height: 100vh;       /* full screen height */
  
}

.container {
  max-width: 450px;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);

}

h1 {
  margin-bottom: 10px;

}

.sub {
  margin-bottom: 20px;
  color: #764ba2;
}

input {
  padding: 12px;
  width: 70%;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  padding: 12px 18px;
  margin-left: 10px;
  background: #764ba2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
}

.city {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

.temp {
  font-size: 50px;
  font-weight: bold;
}

.temp span {
  font-size: 24px;
}

.feels {
  margin: 10px 0;
}

.weather-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 15px;
}

.label {
  font-size: 12px;
}

.value {
  font-size: 16px;
  font-weight: bold;
}